<%= render "layouts/errors", :object => @sentence %>

<h2>use the following picture to help you write a sentence</h2>
<img src=<%= @picture %> alt="<%= @picture %>" />

<%= form_for [@story, @sentence] do |f| %>
  <%= f.label :sentence %>
  <%= f.text_field :sentence %>
  <%= f.label :user %>
  <%= f.text_field :user %>
  <%= f.submit %>
<% end %>
